extends ./template/loader
  
block body
    div.content
        h1 #{h1}
        div.compteur
            button#demarrer.btn.btn-primary.btn-lg.rounded-0.bg-light.border-0.text-primary Demarrer
            div#bip.display
        div.social
            ul.list-unstyled.list-inline
                li.list-inline-item
                    a(
                        target="blank",
                        href="https://www.facebook.com"
                    )
                        i.fab.fa-facebook-f
                li.list-inline-item
                    a(
                        target="blank",
                        href="https://www.twitter.com"
                    )
                        i.fab.fa-twitter
                li.list-inline-item
                    a(
                        target="blank",
                        href="https://www.instagram.com"
                    )
                        i.fab.fa-instagram
